.spmp-container {
	isolation: isolate;
	height: 24px;
	position: relative;
	font-family: sans-serif;
	font-size: 16px;
}
.spmp-container:hover {
	z-index: 99;
}
#spmp-audio {
	visibility: hidden;
}
.spmp-button{
	height: 100%;
	width: 30px;
	float: left;
	cursor: pointer;
	text-align: center;
}
.spmp-container .spmp-right{
	float: right;
}
#spmp-prog {
	height: 100%;
	width: calc(100% - (30px * 6));
	float: left;
	position: relative;
}
#spmp-prog-bar {
	position: relative;
	height: 16px;
	width: 100%;
	border-radius: 10px 10px 10px 10px;
	top: calc(50% - 8px);
	overflow: hidden;
	cursor: pointer;
}
#spmp-prog-fill, #spmp-prog-buffer {
	position: absolute;
	width: 0%;
	height: 100%;
}
.spmp-container .spmp-button:first-child {
	border-radius: 10px 0px 0px 10px;
}
.spmp-container.spmp-loaded .spmp-button:first-child {
	transition: border-radius 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 400ms;
}
.spmp-container.spmp-open .spmp-button:first-child {
	border-radius: 10px 0px 0px 0px;
	transition: border-radius 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms;
}
.spmp-container > .spmp-right {
	border-radius: 0px 10px 10px 0px;
}
.spmp-container.spmp-loaded > .spmp-right {
	transition: border-radius 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 400ms;
}
.spmp-container.spmp-open > .spmp-right {
	border-radius: 0px 10px 0px 0px;
	transition: border-radius 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms;
}
.spmp-container > .spmp-right ~ .spmp-right {
	border-radius: 0px 0px 0px 0px;
	transition: initial;
}
#spmp-playlist {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 24px;
	border-radius: 0px 0px 10px 10px;
	transition: height 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: 99;
	overflow: hidden;
}
.spmp-container.spmp-open #spmp-playlist {
	height: 145px;
}
.spmp-container.spmp-open {
	z-index: 99;
}
#spmp-playlist-container {
	width: calc(100% - 5px);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #000 transparent;
	margin-left: 1px;
}
#spmp-playlist-container::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
#spmp-playlist-container::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.spmp-track {
	position: relative;
	width: calc(100% - 12px);
	padding-left: 5px;
	cursor: pointer;
	overflow: hidden;
	height: 18px;
	white-space: nowrap;
}
.spmp-track:hover {
	border-radius: 10px 10px 10px 10px;
}
.spmp-indicator {
	width: 18px;
	height: 18px;
	float: left;
	margin: -3px;
}
.spmp-indicator:before {
	position: relative;
	top: 2px;
}
#spmp-vol{
	height: 24px;
	width: 30px;
	text-align: center;
	position: absolute;
	z-index: 100;
	overflow: hidden;
	float: right;
	right: 30px;
}
#spmp-mute {
	height: 24px;
}
.spmp-container #spmp-vol:hover {
	height: 169px;
	border-radius: 0px 0px 10px 10px;
}
.spmp-container.spmp-touch #spmp-vol:hover {
	height: 24px;
	border-radius: 0px 0px 0px 0px;
}
#spmp-vol-bar {
	position: absolute;
	top: 24px;
	height: 140px;
	width: 16px;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	margin-left: 7px;
	display: flex;
	flex-flow: wrap-reverse;
	cursor: pointer;
}
#spmp-vol-fill {
	width: 100%;
	height: 0%;
}
.spmp-button svg, .spmp-indicator svg {
	margin-top: 6px;
}
.spmp-indicator {
	visibility: hidden;
}
.spmp-track.spmp-track-playing .spmp-indicator {
	visibility: visible;
}
#spmp-next svg {
	transform: rotate(180deg);
}
.spmp-container.spmp-playing .spmp-playicon, .spmp-pauseicon, .spmp-container.spmp-muted .spmp-unmutedicon, .spmp-mutedicon, .spmp-container.spmp-playing .spmp-indicator .spmp-pauseicon, .spmp-indicator .spmp-playicon {
	display: none;
}
.spmp-container.spmp-playing .spmp-pauseicon, .spmp-playicon, .spmp-container.spmp-muted .spmp-mutedicon, .spmp-unmutedicon, .spmp-container.spmp-playing .spmp-indicator .spmp-playicon, .spmp-indicator .spmp-pauseicon {
	display: initial;
}
#spmp-drop svg {
	transform: rotate(90deg);
}
.spmp-container.spmp-open #spmp-drop svg {
	transform: rotate(-90deg);
}
/* Colours */
.spmp-container:not(.spmp-custom) {
	color: #000;
	fill: #000;
}
.spmp-container:not(.spmp-custom) #spmp-vol-fill, .spmp-container:not(.spmp-custom) #spmp-prog-fill {
	background-color: #000;
}
.spmp-container:not(.spmp-custom) .spmp-button:hover, .spmp-container:not(.spmp-custom) #spmp-vol-bar, .spmp-container:not(.spmp-custom) .spmp-track:hover, .spmp-container:not(.spmp-custom) #spmp-prog-bar {
	background-color: #f8ffff;
}
.spmp-container:not(.spmp-custom) #spmp-prog-buffer {
	background-color: #eee;
}
.spmp-container:not(.spmp-custom) #spmp-playlist, .spmp-container:not(.spmp-custom) #spmp-vol, .spmp-container:not(.spmp-custom) #spmp-prog, .spmp-container:not(.spmp-custom) .spmp-button {
	background-color: #d0ffff;
}